[class*=" b-col-"],
[class^="b-col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.b {
  &-flex {
    display: flex;
  }
  &-row-np {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &-row {
    margin-right: -15px;
    margin-left: -15px;
    @extend .b-row-np;
    &.b-row {
      &-x {
        &-left {
          justify-content: flex-start;
        }
        &-right {
          justify-content: flex-end;
        }
        &-center {
          justify-content: center;
        }
      }
      &-y {
        &-top {
          align-items: flex-start;
        }
        &-bottom {
          align-items: flex-end;
        }
        &-center {
          align-items: center;
        }
        &-full {
          align-items: stretch;
        }
      }
    }
  }

  &-col {
    $end-width: 100%;
    $end-col: 12;
    &-auto {
      width: auto;
    }
    @for $i from 1 through $end-col {
      &-#{$i} {
        $width: 100% / ($end-col / $i);
        -ms-flex: 0 0 $width;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
    &-y {
      &-top {
        align-items: flex-start;
      }
      &-bottom {
        align-items: flex-end;
      }
      &-center {
        align-items: center;
      }
      &-full {
        align-items: stretch;
      }
    }
    &-x {
      &-left {
        justify-content: flex-start;
      }
      &-right {
        justify-content: flex-end;
      }
      &-center {
        justify-content: center;
      }
    }
  }
}
