* {
  box-sizing: border-box;
  &::before,
  &::after {
    @extend *;
  }
}

:root {
  $primary-color: #ff4545;
  $secondary-color: #f5c74d;

  --b-color-primary: #{$primary-color};
  --b-color-blue-1: #3e51b5;
  --b-color-green-1: #45ff45;
  --b-color-red-1: #{$primary-color};
  --b-color-red-2: #dd3030;
  --b-color-yellow-1: #{$secondary-color};
  --b-color-black-1: #2e2e2e;
  --b-color-black-2: #737373;
  --b-color-gray-1: #c3c3c3;
  --b-color-gray-2: #eee;
  --b-color-gray-3: #f7f8f9;
  --b-color-gray-4: #dadada;
  --b-color-white: #fff;
  --b-color-background: #f7f7f7;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

button,
textarea,
input,
select,
div,
span,
i,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  font-size: 14px;
  color: var(--b-color-black-1);
  width: 100%;
  height: 100%;
}

#bacod-framework {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--b-color-background);
}
