%remove-search-button {
  display: none;
}
.b {
  &-form {
    &-input {
      width: 100%;
      outline: none;
      font-size: 1rem;
      padding: 7px 13px;
      border: 1px solid var(--b-color-black-2);
      border-radius: 5px;
      &[type="search"] {
        &::-webkit-search-decoration {
          display: none;
        }
        &::-webkit-search-cancel-button {
          display: none;
        }
        &::-webkit-search-results-button {
          display: none;
        }
        &::-webkit-search-results-decoration {
          display: none;
        }
        &::-ms-clear {
          @extend %remove-search-button;
          height: 0;
          width: 0;
        }
        &::-ms-reveal {
          @extend %remove-search-button;
        }
      }
      &.b-form-input {
        &-rounded {
          border-radius: 100px;
        }
      }
      &-icon {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
      }
      &-strip {
        background: none;
        outline: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--b-color-black-2);
        padding-bottom: 8px;
      }
      &-checkbox {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        color: var(--b-color-black-1);
        font-size: 1.3rem;
        font-weight: bold;
        & .b-form-input-checkbox-switch {
          $height-parent: 35px;
          $padding-switch: 5px;
          $height-switch: $height-parent - ($padding-switch * 2);

          display: inline-block;
          width: 70px;
          height: $height-parent;
          padding: $padding-switch;
          background: var(--b-color-gray-1);
          outline: none;
          margin-right: 5px;
          border-radius: 100px;
          position: relative;
          transition: all .3s ease-in-out;
          &::before {
            display: inline-block;
            width: $height-switch;
            height: $height-switch;
            background: var(--b-color-black-2);
            content: "";
            border-radius: 100px;
            transition: all .3s ease-in-out;
          }
        }
        & input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          &:checked {
            & ~ .b-form-input-checkbox-switch {
              transition: all .3s ease-in-out;
              background: rgba(255, 69, 69, 0.6);
              &::before {
                transform: translate(34px);
                transition: all .3s ease-in-out;
                background: var(--b-color-red-1);
              }
            }
          }
        }
      }
    }
    &-group {
      position: relative;
      width: 100%;
      display: block;
      &[label] {
        &::before {
          display: block;
          width: 100%;
          font-size: 1rem;
          color: var(--b-color-black-1);
          content: attr(label);
          font-weight: bold;
          line-height: 1.4rem;
          margin-bottom: 4px;
        }
      }
      &[message] {
        &::after {
          display: block;
          width: 100%;
          font-size: 1rem;
          color: var(--b-color-black-1);
          content: attr(message);
        }
      }
      &[message-red="true"] {
        &::after {
          color: var(--b-color-red-1);
        }
      }
      &[message-blue="true"] {
        &::after {
          color: var(--b-color-blue-1);
        }
      }
      &[message-green="true"] {
        &::after {
          color: var(--b-color-green-1);
        }
      }
      &-search {
        position: relative;
        width: 100%;
        & .b {
          &-form-input {
            $placeholder-text-color: var(--b-color-black-2);
            border: none;
            background-color: var(--b-color-yellow-1);
            color: var(--b-color-black-1);
            padding-top: 15px;
            padding-bottom: 15px;
            &::placeholder {
              color: $placeholder-text-color;
              opacity: 1;
            }
            &:-ms-input-placeholder {
              color: $placeholder-text-color;
            }
            &::-ms-input-placeholder {
              color: $placeholder-text-color;
            }
          }
          &-btn-search {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 50px;
            background-color: var(--b-color-red-1);
            & span {
              color: var(--b-color-white);
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
textarea {
  &.b-form-input {
    resize: none;
    min-height: 80px;
  }
}
